* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #dbe9b9;
  color: #3d4d02;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  background-color: #7b9f19;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.header__title {
  font-size: 24px;
  font-weight: bold;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  background-color: #dbe9b9;
  gap: 48px;
  padding: 48px;
}

.container__content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #cadf97;
  text-align: center;
  width: 100%;
}

.container__content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.container__content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttons__primary {
  background-color: #a8ca30;
  color: #263001;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 240px;
  height: 45px;
}

.buttons__primary:hover {
  background-color: #3d4d02;
  color: #fff;
}

.buttons__secondary {
  background-color: #f7ffdb;
  color: #676c57;
  padding: 11px 31px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #a8ca30;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 240px;
  height: 45px;
}

.buttons__secondary:hover {
  background-color: #3d4d02;
  color: white;
  border: none;
}

.footer {
  background-color: #7b9f19;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  width: 100%;
  height: 100px;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .container {
    padding: 140px;
  }

  .container__content {
    width: 80%;
  }

  .container__content h1 {
    font-size: 36px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
  }

  .buttons__primary,
  .buttons__secondary {
    font-size: 20px;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
  }

  .container__content {
    width: 100%;
  }

  .container__content h1 {
    font-size: 48px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
  }

  .buttons__primary,
  .buttons__secondary {
    width: 100%;
    padding: auto;
  }
}
